{% extends 'pages/Masterbase.html' %}

{% block content %}
    <div class="container">
        {% csrf_token %}
        {% for key, value in form.errors.items %}
            {{value}}
        {% endfor %}
        <div class="row">
            <div class="span9">
                <div class="login">
                    <table>
                        <tr>
                            <td>
                                <h3>Thành Viên Mới</h3>
                                <p>
                                    Hãy đăng ký làm thành viên để nhận được nhiều hướng dẫn hơn tại đây.
                                </p>
                                <a href="{% url 'register' %}" class="btn">Đăng ký tài khoản</a>
                            </td>
                            <td>
                                <h3>Đăng nhập tài khoản</h3>
                                <p>
                                    Xin mời đăng nhập bằng tài khoản thành viên của bạn.
                                </p>
                                <div>
                                    <div class="controls">
                                        <p><label>Username:</label>{{form.username}}</p>

                                    </div>
                                    <div class="controls">
                                        <p><label>Password:</label>{{form.password}}</p>

                                    </div>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Lưu mật khẩu trên máy này
                                        </label>
                                        <input type="hidden" name="next" value="/"/>
                                        <input type="submit" value="Đăng nhập" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>




            <div class="span3">
                <div class="titleHeader clearfix">
                    <h3>Trợ giúp</h3>
                </div>
                <ul class="unstyled my-account">
                    <li>
                        <a class="invarseColor" href="#"><i class="icon-caret-right"></i>Hướng dẫn đăng ký</a>
                    </li>
                    <li>
                        <a class="invarseColor" href="#"><i class="icon-caret-right"></i>Hướng dẫn đăng nhập</a>
                    </li>
                    <li>
                        <a class="invarseColor" href="#"><i class="icon-caret-right"></i>Khôi phục mật khẩu bị mất</a>
                    </li>
                    <li>
                        <a class="invarseColor" href="#"><i class="icon-caret-right"></i>Liên hệ với ban quản trị website</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>





{% endblock %}

        <!--Trang riêng-->





